processing/__pycache__/const.cpython-38.pyc
processing/crimac_data
processing/es80-38--D20191119-T013701.raw
processing/es80-38--D20191119-T013701.idx
processing/es80-120--D20191119-T013458.raw
*.nc
db/
*.sql
*.zip

*.meta
*.npy
*.zarr
lol*
*.pyc

*.ckpt
hparams.yaml
date_dict.json